<div class="hero-content">
    <img src="profile.jpg" alt="Your Name" class="profile-picture">
    <h1>Issaw Kamaradin</h1>
    <p>Web Developer | Cybersecurity Analyst | Creative Thinker | Forex Trader | Teamwork | Researcher </p>
    <p><i>All you is to get in touch</i></p>
</div>