<h2>Get in Touch</h2>
<form method="post" action="/" >
    <input type="text" name="name" placeholder="Name" required>
    <input type="email" email="email" name="email" placeholder="Email" required>
    <textarea placeholder="Message" name="message"></textarea>
    <button type="submit" id="button">Send Message</button>
</form>