<h2>My Experience</h2>
            <div class="portfolio-grid">
                <div class="portfolio-item">
                    <img src="prog.1.jpeg" alt="Project 1">
                    <h3>Open Source</h3>
                    <p>I collaborated on a lot of open source and voluntary projects for both local and internationl.</p>
                </div>
                <div class="portfolio-item">
                    <img src="cybersecurity.jpeg" alt="Project 2">
                    <h3>Cybersecurity Analyst</h3>
                    <p>As a master’s student in Cybersecurity at a Drexel university in United State, I am working towards attaining my masters in cybersecurity. This should equipped me with numerous technological advancement tools in securing computer systems and networks.</p>
                </div>
                <div class="portfolio-item">
                    <img src="team work.jpeg" alt="Project 3">
                    <h3>Entraprenuer & Inovator</h3>
                    <p>As an entrepreneur, it is always my dream of owning a tech company, which is why I’m founding Dewwide Global, a tech firm which provide tech solutions to both startups and renowned companies across the globe. This invitation is to inspire young African’s who loss hope in tech industries, empowering and ensuring sequential growth.</p>
                </div>
 </div>