
        <main>
            <h2>About Me</h2>
            <p>As a computer enthusiast, my ultimate goal is to make the world a better place for everyone. I always better myself by learning numerous technological advancement tools which is why ended up learning so many programming languages including C,C++,Java,Python,PHP,JavaScript,React and NextJS, NodeJS and Express Frameworks. I am a Full stack Developer, having both frontend (react, CSS, bootstrap etc.) and backend tech at me fingertips. Currently, I enjoy being a Backend Developer, using NodeJS and Express framework in developing classic API's and handling requests. I am a team player and a good collaborator due to my experience in collaboration on numerous projects. As a master’s student in cybersecurity at Drexel University, we are exposed with data, network and system securities. I can also double as a Cybersecurity Analyst. If you hire me, you hire an innovator, a creative thinker, and problem solver 😊.</p>
        </main>
   